*,
*,
:before,
*,
:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
    "..... ...... ...... ..... " 20px
    "..... sect1  sect1  ..... " 150px
    "..... ...... ...... ..... " 80px
    "..... nav    nav    ..... " 50px
    "..... ...... ...... ..... " 0
    "..... sect2  sect2  ..... " auto
    "..... ...... ...... ..... " 0
    "..... sect3  sect3  ..... " 150px
    "..... ...... ...... ..... " 0
    /100px 1fr 1fr 100px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
}

/* タイトル */
.title {
  grid-area: sect1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.site-logo {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);
  text-shadow: 3px 2px 1px #a8a9aa;
}
/* /タイトル */

.nav-menu {
  grid-area: nav;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-item {
  width: 418px;
  height: 50px;
  line-height: 50px;
  float: left;
  background-color: #333;
  margin-right: 3px;
}

.nav-item a {
  color: white;
}

/* メイン */
.main {
  grid-area: sect2;
  display: flex;
  justify-content: space-around;
}

.main-title {
  text-align: center;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
}

.main-item {
  width: 350px;
  height: 250px;
  margin: 30px;
}
/* /メイン */

/* サブ */
/* .sub-item {
  width: 400px;
  height: 500px;
} */
/* /サブ */
