#global-navi {
  background: black;
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  height: 55px;
  z-index: 6;
}

.menu {
  float: right;
}

#wrapper nav ul li {
  display: inline-block;
  font-size: 18px;
  padding: 15px 20px 10px 10px;
}

#wrapper nav ul li a {
  color: #ddd;
}

@media screen and (max-width: 767px) {
  #wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 180px;
    height: 75%;
    padding-top: 50px;
    background: #333;
    font-size: 13px;
    box-sizing: border-box;
    z-index: 2;
  }
  #wrapper nav ul li {
    display: block;
    padding: 20px 55px;
  }

  #wrapper nav ul li a {
    text-decoration: none;
    color: #ddd;
  }

  #wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  #wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  #wrapper .btn-gnavi span:nth-child(1) {
    top: 0;
  }

  #wrapper .btn-gnavi span:nth-child(2) {
    top: 10px;
  }

  #wrapper .btn-gnavi span:nth-child(3) {
    top: 20px;
  }

  #wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #wrapper .btn-gnavi.open span {
    background: #fff;
  }

  #wrapper .btn-gnavi.open span {
    width: 24px;
  }
  #wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666;
  }

  #wrapper .contents section:nth-child(odd) p {
    left: 10%;
  }

  #wrapper .contents section:nth-child(even) p {
    right: 10%;
  }
}
