.section {
  margin-top: 20px;
}
.sliderArea {
  width: 55%;
  max-width: 100%;
  padding: 0 0 0 225px;
  margin: 30px auto 0;
}

.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.slick-prev,
.slick-next {
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: 0.7;
}

.thumb img {
  width: 280px;
  height: 180px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }

  .sliderArea {
    max-width: 100%;
    padding: 0;
  }

  .slick-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
  }
  .section p._a {
    font-size: 12px;
    font-weight: bold;
    margin: 30px 0 0;
  }
  .section p._a .link {
    display: inline-block;
    color: #607d8b;
    padding-left: 1.3em;
    text-indent: -1.3em;
  }
  .section p._a .link:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: 2px solid #607d8b;
    border-right: 2px solid #607d8b;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 10px;
  }

  .thumb img {
    width: 100%;
    height: 45px;
    object-fit: cover;
  }
}
